body{
    font-family: Times New Roman;
    
}*{
    margin:0;
    padding:0; 
}
header,footer{
    position: absolute;
    background-color: #00154F;
    width:100%;
    color:white;
    
}
header h2{
	position: absolute;
	margin-top: 20px;
        left:5%
}
header{
     height: 15vh;
}
div {
    font-weight:lighter;
}
.nav{
	position: absolute;
	width:100%;
}
.nav a{
        font-family:"Garamond";
        font-size:20px;
	position:relative;
	left:25%;
	top:40px;
	color:white;
	text-decoration:none;
	margin-right:20px;
} 
footer{
    height: 30vh;
    bottom:0;
    background-color: #FFE4C4;
    color: black;
}
.main-content{
    display: flex;
}
.main-content .box{
     flex-basis:50%;
   padding:10px 50px;
}
.box h3{
   text-transform:uppercase;
} 
.box .content{
   margin: 10px 0 0 0;
}
.content{
        font-family:"Times New Roman";
        font-size:20px;
	position:relative;
	color:Black;
	text-decoration:none;
	margin-right:20px;
}
.content a{
        font-family:"Times New Roman";
        font-size:20px;
	position:relative;
	color:Black;
	text-decoration:none;
	margin-right:20px;
}
.left .content .social a span{
  height: 40px;
  width: 20px;
  background: #FFE4C4;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}



	
